[Unit]
Description=Attic log server
After=network.target mosquitto.service

[Service]
Type=simple
ExecStart=/home/mib07150/git/zfs/git/HyMet/gen2/hyfabric-attic/run_hyattic.sh
WorkingDirectory=/home/mib07150/git/zfs/git/HyMet/gen2/hyfabric-attic
Restart=always

[Install]
WantedBy=multi-user.target
